.app__contactList {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: var(--primary-color);
  justify-content: center;
  align-items: center;
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    input {
      height: 30px;
      width: 200px;
      margin: 1rem 5rem;
      padding: 16px 20px;
      border: none;
      border-radius: 4px;
      background-color: #55c5a9;
    }
    @media screen and (max-width: 900px) {
      display: flex;
      flex-direction: column;
    }
  }

  .app__contactList-list {
    width: 70%;
    border: blue solid 1px;
    display: flex;
    flex-direction: column;
    div {
      width: 60%;
      height: 100px;
      background-color: rgb(216, 215, 215);
      margin-top: 5px;
      box-shadow: 0 4px 20px rgba(168, 168, 168, 0.4);
      border-radius: 10px;
      gap: 20px;
      img {
        border-radius: 50%;
        width: 60px;
        height: 60px;
        display: flex;
        @media screen and (max-width: 900px) {
          width: 40px;
          height: 40px;
          display: flex;
          flex-direction: column;
          margin-top: 10px;
        }
        @media screen and (max-width: 500px) {
          width: 40px;
          height: 40px;
          display: flex;
          flex-direction: column;
          margin-top: 5px;
        }
      }
    }
  }
}
.skeleton {
  margin-top: 10px;

}